/* Removal of scrollbar */
.scroll-container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
    overflow-x: scroll;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}


/* Design & Layout for all sections */
.dark-section {
    min-height: 100vh !important;
    max-height: 100vh !important;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
    background-color: #212529;
    color: white;
    padding-top: 100px;
}

.custom-padding {
    margin-bottom: 50px;
}

.col-custom {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}


/* List item (skills) and Tabs */
.custom-list-item {
    font-size: 20px !important;
    color: black !important;
    font-weight: 1000;
    border: #8f8f8f !important;
    border-radius: 15px !important;
    background-color: #8f8f8f !important;
    margin: 10px 0 !important;
}

.col-custom-list {
    width: 250px !important;
    min-width: 250px !important;
    max-width: 250px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-list-item:hover {
    background-color: #3f3f3f !important;
}

.pane-image {
    width: 180px;
    height: 50px;
    object-fit: contain;
    padding: 5px 0;
}

.pane-image-sql {
    width: 250px;
    height: 90px;
    object-fit: contain;
    padding: 5px 0;
}

.pane-image-backend {
    width: 100px;
    height: 90px;
    object-fit: contain;
    padding: 5px 0;
}

.pane-image-cloud {
    width: 200px;
    height: 60px;
    object-fit: contain;
    padding: 5px 0;
}

/* Cards */
.card-styling {
    max-height: 450px;
    max-width: 220px;
    width: 100% !important;
    height: 100% !important;
    background-color: #615c5c !important;
    border-color: #8f8f8f !important;
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}

.col-custom-cards {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-image {
    height: 50%;
    object-fit: cover;
}

.card-button {
    align-self: center !important;
    margin-top: auto !important;
}

/* Progress bar */

.custom-progressbar {
    width: 100%;
}

.custom-progressbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text-left {
    margin: 0;
    color: #0099ff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.text-right {
    margin: 0;
    color: #1ba500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}