/* Removal of scrollbar */
.scroll-container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
    overflow-x: scroll;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}


/* Design & Layout for all sections */
.section-design {
    min-height: 100vh !important;
    max-height: 100vh !important;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
    background-color: #22282e;
    color: white;
    padding-top: 50px;
}

.col-custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-list-item:hover {
    background-color: #3f3f3f !important;
}

/* Cards */
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;

}

.card-row {
    align-items: center;
    justify-content: space-evenly;
}

.card-design {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    transition: 0.3s;
}

.card-design:hover {
    outline: 1px solid #007bff;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}

.card-design-image {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 992px) {
    .card-design {
        max-height: 180px !important;
        width: 100%;
    }

    .card-container {
        width: 50% !important;        
    }

    .resize-text {
        font-size: 16px !important;
    }

    .remove-text {
        display: none;
    }
} 

/* Logos & bar*/
.image-size {
    width: 100%;
    height: auto;
    max-width: 90px !important;
}

@media (max-width: 992px) {
    .image-size {
        max-width: 45px !important;
        padding: 1px 1px;
        margin: 2px 3px;
    }
}

.image-tranform {
    transition: transform .2s;
    margin: 0 auto;
}

.image-tranform:hover {
    transform: scale(1.1);
}

/* Text */
.p-text {
    margin-left: 1rem;
}

.text-design {
    font-size: 20px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.text-design-h1 {
    font-size: 40px;
    font-weight: 600;
    color: #F1DD35;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.text-design-card-h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #F1DD35;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.h1-bracket {
    font-size: 2.5rem;
    color: #358ef1;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.h1-header {
    font-size: 3rem;
    color: #f2ff5b;
    text-align: start;
}

@media (max-width: 992px) {
    .text-design {
        margin: 0;
        padding-bottom: 1px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .text-design-card-h1 {
        font-size: 1.25rem !important;
    }

    .h1-header {
        font-size: 1.5rem !important;
        margin: 0;
        padding: 0;
    }

    .h1-bracket {
        font-size: 2rem;
    }
}